<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
       <title>Immport Accessibility</title>
    </head>

<body>
  <div layout:fragment="content">
   <div class="container">
	<div class="row">
    	<div class="col-md-12">
        	<h2>Accessibility</h2>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		We make every effort to ensure that the information available on this Web site is accessible to everyone.
		If you use special assistive technology (e.g., Braille reader, screen reader, TTY, etc.) and encounter difficultie
 		when using this Web site, please let us know. <a href="mailto:BISC_Helpdesk@niaid.nih.gov?subject=ImmPort Accessibility">E-mail</a>
  		us, and we will provide you the information in an alternative format.
 		Indicate the Web address of the requested material and the preferred format in which to receive the material. 
		</div>
	</div>
	<br></br>
	</div>
  </div>	
</body>
</html>