<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="hideApplicationHeader = 'true'">

    <head>
        <title>ImmPort User Agreement</title>
    </head>

    <body>

        <div layout:fragment="content" class="container">

        	<div class="row" style="margin-top:-40px">

	            <h1>User Agreement for the NIAID Immunology Database and Analysis Portal (ImmPort)<sup>i</sup></h1>
	
	            <p>
	                ImmPort is a data sharing and data analysis portal for immunology research community funded by the National Institute of Allergy and Infectious Diseases (NIAID), Division of Allergy, 
	                Immunology, and Transplantation (DAIT).  You will be asked to accept the terms and conditions of this agreement without exception when you log in to ImmPort.
	            </p>
	            <p><b>1.1 You will not attempt to identify individuals from ImmPort data sets</b></p>
	            <p>
	                    As a condition of obtaining access to the ImmPort database you agree to not use the ImmPort data, alone or in combination with other data, 
	                    to identify any individual or entity or otherwise link information from these data with information in another dataset in a manner that includes the identity of an individual or entity.  
	                    If you inadvertently discover the identity of any patient, then (a) You agree that you will make no use of this knowledge, (b) that you will notify the NIAID Program Officer (Quan Chen, <a href="mailto:quan.chen@nih.gov">quan.chen@nih.gov</a>) of the incident, 
	                    and (c) that you will inform no one else of the discovered identity.   
	            </p>
	            <p><b>1.2 Do not share your username and password</b></p>
	            <p>
	                    You will use reasonable efforts to maintain the secrecy of the user name issued to you by ImmPort and the password corresponding to the user name. 
	                    Without limiting the foregoing, you will not share password or user name information with others or allow others to use your password and/or user name. 
	            </p>
	            <p><b>1.3 Data Provider Obligations</b></p>
	            <p>
					If errors with provided data are identified at a later date, the Data Provider agrees to update uploaded data for accuracy.
				</p>
				<p><b><u>Warranties and Liability</u></b></p>
	            <p><b>2.1 Data available at ImmPort are provided on an "AS IS" basis. </b></p>
	            <p>
	                   NIAID, Northrop Grumman, and Data Provider make no representations with respect to Data. DATA ARE PROVIDED TO YOU WITH NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING: 
	                   WARRANTIES OF MERCHANTABILITY; WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE; WARRANTIES OF IDENTITY, OWNERSHIP, QUALITY, ACCURACY, OR COMPLETENESS OF DATA; OR WARRANTIES 
	                   THAT THE USE OF DATA WILL NOT INFRINGE ANY PATENT, INTELLECTUAL PROPERTY, OR PROPRIETARY RIGHTS OF ANY PARTY.
	            </p>
	
	            <p><b>2.2 No liability for loss, claim or damage</b></p>
	            <p>
	                   No liability or indemnification for any loss, claim, or damage, (including but not limited to loss of data) is intended or provided by Northrop Grumman or NIAID under this Agreement.
	            </p>
	            <p><b>2.3 You are responsible for the accuracy of follow up work</b></p>
	            <p>
	               Users of ImmPort are solely responsible for the accuracy of any use of the data derived from the system.
	            </p>
	            <p><b>2.4 Limited license</b></p>
	            <p>
	               The Data Provider remains the owner of the data.  You may use the ImmPort data for any legal purpose except for those prohibited elsewhere in this agreement.  In particular, you have the unrestricted right to use and distribute ImmPort data.  However you will ensure that all redistribution occurs under terms commensurate with this agreement.
	            </p>
	            <p><b>2.5  ImmPort data is not suitable for informing human treatment decisions</b></p>
	            <p>
	               Northrop Grumman and NIAID do not individually or collectively make any representations that data or analyses available at ImmPort are suitable for human diagnostic purposes, 
	               for informing treatment decisions, or for any other purposes and accept no responsibility or liability whatsoever for such use.
	            </p>
	            <p><b>2.6  NIAID and Northrop Grumman are not responsible for the content of linked sites</b></p>
	            <p>
	               Some of the system pages may provide links to other Internet sites only for the convenience of the users. NIAID and Northrop Grumman are not responsible for the availability 
	               or content of these external sites, nor does NIAID or Northrop Grumman endorse, warrant or guarantee the products, services or information described or offered at these other Internet sites.
	            </p>
	            <p><b><u>Other terms</u></b></p>
	            <p><b>3.1  This agreement will be governed by federal courts in the District of Columbia</b></p>
	            <p>
	               The construction, validity, performance, and effect of this Agreement will be governed by federal law as applied by the federal courts in the District of Columbia. 
	               Federal law and regulations will pre-empt any conflicting or inconsistent provisions in this agreement.
	            </p>
	            <p><b>3.2 You will use ImmPort lawfully</b></p>
	            <p>
	               You agree that you will make only lawful use of the system, and will only use it in compliance with all applicable federal, state and local laws and regulations.
	            </p>
	            <p><b>3.2.1  You will not violate someone's rights in using ImmPort</b></p>
	            <p>
	               You agree that you will not use the system in any way to violate someone's rights, including copyright, trademark, trade secret, right of privacy, right of publicity or other rights.
	            </p>
	            <p><b>3.2.2  You will not upload viruses or malware to ImmPort</b></p>
	            <p>
	               You agree that you will not upload, post, transmit, distribute or otherwise publish on or to the system any materials that contain a software virus or other harmful component.
	            </p>
	            <p>____________________________</p>
	            <p>
	                <sup>i</sup>The NIAID Immunology Database and Analysis Portal (ImmPort) was established by Northrop Grumman Information Technology, Inc., (Northrop Grumman), prime contractor under the original 
	                 Bioinformatics Integration Support Contract, HHSN266200400076C, ADB Contract Number: N01-AI-40076, and currently, HHSN272201200028C, ADB Contract Number: 
	                 N01-AI-40076  (BISC) with the National Institute of Allergy and Infectious Diseases (NIAID), Division of Allergy, Immunology, and Transplantation (DAIT).  ImmPort was established 
	                 to facilitate the sharing of research data funded by DAIT.  Any reference to ImmPort refers to any software developed in the ImmPort ecosystem as part of the BISC project hosted at NIAID, 
	                 hosted at Amazon AWS, or installed on an ImmPort User's machine including, but not limited to those available at <a href="http://immport.niaid.nih.gov">http://immport.niaid.nih.gov</a> and <a href="http://www.immport.org">www.immport.org</a>.
	            </p>
        	
        	</div>

        </div>

    </body>

</html>