<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
       <title>Immport Cytokine Registry</title>
    </head>

<body>
  <div layout:fragment="content">
   <div class="container">
	<div class="row">
    	<div class="col-md-12">
        	<h2>Cytokine Registry</h2>
    	</div>
	</div>
	
<div class="row">
    <div class="col-md-12">
    	<p>
    	The cytokine registry is a master list of cytokines, chemokines and receptors generated for 
    	the purpose of collecting, integrating and mapping between entity names and synonyms from 
    	several resources. These resources include MeSH, the Protein Ontology, EntrezGene, HGNC, 
    	MGI, UniProt and others.
        </p>
        <br/>
    	<p>
        <h4>Contributors:</h4>
        Nophar Geifman<sup>1</sup>, Ksenya Kveler<sup>2</sup>, Amit Ziv-Kenet<sup>2</sup>, Kei Cheung <sup>3</sup>, Steven Kleinstein<sup>3</sup>, Alan Ruttenberg<sup>4</sup>, Alex Diehl<sup>5</sup>, Shai Shen-Orr<sup>2</sup>,
        Barry Smith<sup>6</sup> and Sanchita Bhattacharya<sup>1</sup>
		</p>
		<br/>
    	<ol>
			<li>Institute of Computational Health Sciences, University of California, San Francisco, CA</li>
			<li>Department of Immunology, Rappaport Institute of Medical Research, Technion, Haifa 32000, Israel.</li>
			<li>Interdepartmental Program in Computational Biology and Bioinformatics and Department of Pathology, Yale University School of Medicine, New Haven, CT 06510</li>
			<li>School of Dental Medicine, State University of New York at Buffalo, Buffalo, New York, United States of America.</li>
			<li>Department of Neurology, University at Buffalo School of Medicine and Biomedical Sciences, Buffalo, NY 14203, USA 6.</li>
			<li>Department of Philosophy, University at Buffalo, NY, USA.</li>
		</ol>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
       Download the <a href="/docs/CytokineRegistry.November_2015.xls" target="_new">Cytokine Registry File</a> (Updated: November 2015)
  </div>
</div>
<br></br>
</div>
  </div>	
</body>
</html>	