<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
       <title>Immport Disclaimer</title>
    </head>

<body>
  <div layout:fragment="content">
   <div class="container">
	<div class="row" style="margin-top:20px;">
    	<div class="col-md-12">
        	<h2>Disclaimer</h2>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
			NIAID does not endorse or recommend any commercial products, processes or
			services. The views and opinions of authors expressed on the ImmPort Web site
			do not necessarily state or reflect those of the U.S. Government, and they may
			not be used for advertising or product endorsement purposes.
			</p>
			<p>
			By providing links to other sites, NIAID does not guarantee, approve or endorse
			the information, data or products available at these sites, nor does a link
			indicate any association with ImmPort or endorsement of ImmPort by the linked
			site. Linking to a third party through ImmPort may subject the user to such
			third party's terms of use, and use of data available through that site may
			require a third party licensing agreement. Before using any third party site,
			you should review the terms governing use of that site.
			</p>
			<p>
			<a href="mailto:BISC_Helpdesk@niaid.nih.gov?subject=ImmPort Disclaimer">E-mail</a> us with any
			questions regarding this notice or if you are a third party site or third party
			owner of data available through a site and wish to request that we no longer link
			to the site of your data, as applicable.
			</p>
		</div>
	</div>
	<br></br>
	</div>
  </div>	
</body>
</html>