<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
        <title>ImmPort Data Browser</title>
		<script type="text/javascript" src="/js/scrollTop.js"></script>
    </head>

    <body>
        <div layout:fragment="content">

    <h2>Instructions for Aspera Connect Installation</h2>
    <ul>
    	<li><a href="#firefox" class="buttonlink">Installing Aspera Connect to use the ImmPort data browser in Firefox on Windows</a></li>
    	<li><a href="#chrome" class="buttonlink">Installing Aspera Connect to use the ImmPort data browser in Chrome on Windows</a></li>
    	<li><a href="#ie" class="buttonlink">Installing Aspera Connect to use the ImmPort data browser in Internet Explorer on Windows</a></li>
    	<li><a href="#safari" class="buttonlink">Installing Aspera Connect to use the ImmPort data browser in Safari on Mac</a></li>
       	<li><a href="#uninstall" class="buttonlink">Uninstalling Aspera Connect on Windows</a></li>
    </ul>
	<p>The ImmPort data browser allows users to download ImmPort data by individual file, directory, or study. The data browser uses a software tool called Aspera Connect to transfer files from ImmPort to users. This software works with your internet browser to quickly and securely transfer files. This requires data downloaders to install the Aspera Connect Client Plugin onto the computer to which the files will be downloaded. The Aspera Connect plugin can be downloaded directly through the ImmPort data browser. Alternatively, the installation files and documentation for the plugin can also be found <a href="http://downloads.asperasoft.com/connect2/">here.</a></p> 
	<h3><span class="label"><a name="firefox">Installing Aspera Connect to use the ImmPort data browser in Firefox on Windows</a></span></h3>
	<p>When you navigate to the ImmPort data browser Firefox will detect if you have the Aspera Connect Client Plugin installed. If you do not have it installed you will see the below prompts.</p>
		<ul>			
			<li>Select "Download latest version"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_31.png" alt="Download latest version" height="60"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>The banner will then prompt you to refresh after installation</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_32.png" alt="refresh after installation" height="60"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>And you will be prompted to save the installer</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_33.png" alt="save the installer" height="220"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>After you save the installer double-click on the file and confirm that you would like to run it</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_29.png" alt="confirm that you would like to run" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>You can then proceed through the wizard to complete the installation. Select "Next"</li>
			<li class="list-unstyled"><br></br></li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_27.png" alt="complete the installation" height="320"/></li>
			<li>Accept the terms of the license agreement and select "Next"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_44.png" alt="license agreement" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Typical"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_45.png" alt="Typical" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>And select "Install"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_46.png" alt="Install" height="320"/></li>
			<li>Wait while the Setup Wizard installs IBM Aspera Connect</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_48.png" alt="close firefox" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Click "Finish"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_firefox_49.png" alt="close firefox" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<!-- <li>Restart Firefox and navigate back to the ImmPort data browser page. The next message displayed will depend on your Firefox settings. Selecting the Plugin icon in the toolbar will show one of two messages. The first indicates no further action is needed</li><br>
			<ul><img src="/images/browser/aspera_connect_client_plugin_firefox_43.png" alt="no further action" width="480" height="160"/></ul><br>
			<li>The second requires you to select either "Allow Now" or "Allow and Remember" to proceed</li><br>
			<ul><img src="/images/browser/aspera_connect_client_plugin_firefox_sony_42.png" alt="Allow" width="480" height="160"/></ul><br>
			<li>After installation if you navigate to the Add-ons Manager at about:addons you should see it displayed</li><br>
			<ul><img src="/images/browser/aspera_connect_client_plugin_firefox_30.png" alt="Add-ons" width="480" height="120"/></ul><br> -->
		</ul>
		
	<h3><span class="label"><a name="chrome">Installing Aspera Connect to use the ImmPort data browser in Chrome on Windows</a></span></h3>
	<p>Many of the steps detailed above for installing Aspera Connect with Firefox are the same as those required for Chrome with some exceptions. You will not be prompted to restart Chrome when the installation wizard finishes.</p>
		<ul>			
			<li>When you refresh the ImmPort data browser after installation select "Open "URL:fasp protocol"" to run the Aspera Connect executable.</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_chrome_c.png" alt="chrome" height="120"/></li>
			<li class="list-unstyled"><br></br></li>
		</ul>
	
	<h3><span class="label"><a name="ie">Installing Aspera Connect to use the ImmPort data browser in Internet Explorer on Windows</a></span></h3>
		<p>Many of the steps detailed above for installing Aspera Connect with Firefox are the same as those required for Internet Explorer with some exceptions. </p>
		<ul>			
			<li>After selecting "Download latest version" in the Aspera banner IE will allow you to run the installer without saving it by selecting "Run"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_ie_1.png" alt="ie" height="50"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>After installation you must allow Aspera Connect to open to proceed with the data browser</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_client_plugin_ie_2.png" alt="ie allow" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
		</ul>
		
	<h3><span class="label"><a name="safari">Installing Aspera Connect to use the ImmPort data browser in Safari on Mac</a></span></h3>
		<p>When you navigate to the ImmPort data browser Safari will detect if you have the Aspera Connect Client Plugin installed. Many of these steps are similar to the Windows installation steps with some exceptions.</p>
		<ul>			
			<li>If you navigate to the <a href="http://downloads.asperasoft.com/connect2/">the Aspera Connect download page</a> you will see the site detects the correct installer for your system. Select "Download Now"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_13.png" alt="mac install 1" height="80"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Open the downloaded installer file to begin. The Aspera Connect Installer will start and display the AsperaConnectInstaller.pkg icon. Open AsperaConnect.pkg</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_1.png" alt="mac install 2" height="220"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>When the installer opens select "Continue"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_2.png" alt="mac install 3" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Read the license agreement and select "Continue"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_3.png" alt="mac install 4" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Agree" to proceed</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_4.png" alt="mac install 5" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Install"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_5.png" alt="mac install 6" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Close Application and Install"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_6.png" alt="mac install 7" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>After successful installation select "Close"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_7.png" alt="mac install 8" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Relaunch Safari and select "Trust"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_install_mac_8b.png" alt="mac install 9" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Login using your ImmPort account credentials and accept the NIAID user agreement.</li>
		</ul>
		
	<h3><span class="label"><a name="uninstall">Uninstalling Aspera Connect</a></span></h3>
	<p>To uninstall Aspera Connect select it from the Program list at Control Panel\Programs\Programs and Features and select "Uninstall". You can then proceed through the uninstall wizard to remove it from your system.</p>
		<ul>			
			<li>Select "Next"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_uninstall_1.png" alt="uninstall one" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Remove"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_uninstall_2.png" alt="uninstall two" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Remove" again</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_uninstall_3.png" alt="uninstall three" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Select "Finish"</li>
			<li class="list-unstyled"><img src="/images/browser/aspera_connect_uninstall_4.png" alt="uninstall four" height="320"/></li>
			<li class="list-unstyled"><br></br></li>
			<li>Once completed Aspera Connect should be uninstalled from your computer.</li>
			<li class="list-unstyled"><br></br></li>
		</ul>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
     </div>
    </body>
</html>
