<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
       <title>Immport Privacy Policy</title>
    </head>

<body>
  <div layout:fragment="content">
   <div class="container">
	<div class="row">
    	<div class="col-md-12">
        	<h2>Privacy Policy</h2>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
			For site management, information may be collected for statistical purposes
			and scheduled for regular disposal in accordance with the National Archives
			and Records Management Guidance. This computer system uses software programs
			to create summary statistics, which are used for such purposes as assessing
			what information is of most and least interest, determining technical design
			requirements, and identifying system performance and problem areas. Except
			where it may be required for authorized law enforcement investigations, no
			other attempts will be made to identify users or their usage habits.
			</p>
			<p>
			For site security purposes and to ensure that this server remains available
			to users, this computer system employs software programs to monitor network
			traffic to identify unauthorized attempts to upload or change information,
			or otherwise cause damage. By accessing this Web site, you expressly consent
			to monitoring of this site for unauthorized activities. Unauthorized attempts
			to upload information or change information on this service are strictly
			prohibited and may be punishable by law.
			</p>
			<p>
			This site may include among its services discussion forums or comment areas
			in which users are invited to submit comments. In some cases, personal
			identifier information such as name or e-mail is requested or required. This
			information may be posted for public access along with the submitted comments
			and messages that it accompanies. In all cases, participation is strictly
			voluntary and no other use is made of the information.
			</p>
		</div>
	</div>
	<br></br>
	</div>
  </div>	
</body>
</html>