<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
        <title>Multiscale, Multifactorial Immune Networks as a Web Service (MMIN)</title>
         <script type="text/javascript" src="/js/BigPicture.min.js"></script>
        
    <script>  
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    	  ga('create', 'UA-59005155-1', 'auto');
    	  ga('send', 'pageview');
	</script>
               
    </head>

    <body>
        <div layout:fragment="content">
        		<br/><br/><br/>
        	<div class="col-md-12 col-xs-12">
						<h2 class="text-center">Multiscale, Multifactorial Immune Networks as a Web Service (MMIN)</h2><h3 class="text-center"><i>Powered by <img src="/images/mod/immport-logo-image-32.png" height="20"></img>ImmPort</i></h3>
			</div>	

        <div class="row">
			<div class="col-md-12 col-xs-12">			
				<div class="col-md-5" style="margin-left: 6px;">
					<div style="text-align:justify; padding:10px;"> 
					   			
      				  <br></br>
       				  <br></br>
        
					    <p style="font-weight:bold"> <span style="text-decoration: underline;"></span><a href="http://www.systemsbiology.emory.edu/people/investigators/li-shuzhao.html" target="_new">Dr.Shuzhao Li</a>
 						and his team from Emory University are developing the Multiscale, Multifactorial Immune Networks (<a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9511740&icde;=40451499" target="_new">MMIN</a>) webservice 
 						as a means to integrate ImmPort study data across data types. MMIN will be applied to the investigation of hemebiosynthesis in immune responses.</p>
 						<br></br>
 						<p style="font-weight:bold"> <span style="text-decoration: underline;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=29698924" target="_new">Integrative metabolomics and transcriptomics signatures of clinical tolerance to Plasmodium 
						vivax</a></span> reveal activation of innate cell immunity and T cell signaling</p>	
						<br></br>
						  <p style="font-weight:bold">Gardinassi LG, Arévalo-Herrera M, Herrera S, Cordy RJ, Tran V, Smith MR, Johnson MS, Chacko B, Liu KH, Darley-Usmar VM, Go YM; MaHPIC Consortium, Jones DP, Galinski MR, Li S.</p>
					    <br></br>
					    Redox Biol. 17:158-170.<br></br> doi: 10.1016/j.redox.2018.04.011. Epub 2018 Apr 11. <br></br> 
					    PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=29698924" target="_new">29698924</a>.  	
					</div>
				</div>	
					<div class="col-md-6" style="margin-left: 6px;">
						<img src="/images/uh2-emory/Emory_UH2.png" style="height:450px;"></img>
					</div>
						
			</div>		
        </div>
     </div>   
    </body>
</html>