<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout" th:with="applicationHeader = 'resources'">

    <head>
        <title>LinkedImm</title>
         <script type="text/javascript" src="/js/BigPicture.min.js"></script>
        
    <script>  
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    	  ga('create', 'UA-59005155-1', 'auto');
    	  ga('send', 'pageview');
	</script>
               
    </head>

    <body>
        <div layout:fragment="content">
        	<div class="col-md-12 col-xs-12">
						<h2 class="text-center"><img src="/images/uh2-yale/LinkedImm_logo.png" height="100"></img></h2><p class="text-center"> A Linked Data Approach for Systems Vaccinology.</p><h4 class="text-center"><i>Powered by <img src="/images/mod/immport-logo-image-32.png" height="20"></img>ImmPort</i></h4>
			</div>	

        <div class="row">
				<div class="col-md-12 col-xs-12">			
					<div class="col-md-5" style="margin-left: 6px;">
					<div style="text-align:justify; padding:10px;">  			
      				  <br></br>
       				  <br></br>
        
					    <p style="font-weight:bold"> <span style="text-decoration: underline;"></span><a href="https://medicine.yale.edu/bbs/people/steven_kleinstein.profile" target="_new">Dr. Steve Kleinstein’s</a>
 						team at Yale University is developing <a href="http://128.36.40.192/linkedimm/">LinkedImm</a>, a system designed to integrate ImmPort vaccine studies, linking those studies to other public resources such as pathway databases, gene ontology and publications,
 						to support hypothesis-driven queries. This project doesn’t stop with development of LinkedImm – the team will be focusing their discovery efforts on identifying signatures of human influenza vaccine responses.</p>
 						<br></br>
 						<p>Project number:</p>
					    <p style="font-weight:bold"><span style="text-decoration: underline;"><a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9518536&amp;icde=45482335&amp;ddparam=&amp;ddvalue=&amp;ddsub=&amp;cr=2&amp;csb=default&amp;cs=ASC&amp;pball=" target="_new">5UH2AI132341-02</a>
					    </span></p>	
					    <br></br>
					 </div>    
					</div>
		
					<div class="col-md-6" style="margin-left: 6px; margin-top: 50px">
						<img src="/images/uh2-yale/linkedimm1.png" style="height:450px;"></img>
					</div>	
				</div>	
			
			<div class="row"> 	
	 		  	<div class="col-md-5" style="margin-left: 50px;">
				    	<img src="/images/uh2-yale/linkedimm2.png" height="600px"></img>
			  	</div> 	
			</div>
        </div>
     </div>   
    </body>
</html>